<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg" width="310" height="310">
        </div>
        <div class="login-container">
            <form>
                <input name="email" type="text" placeholder=" email@email.com">
                <input name="password" type="password" placeholder=" password">
                <button>LOGIN</button>
            </form>
        </div>
        <div class="bottom-line">
            <img src="../img/facebook.svg" width="310" height="310">
            <img src="../img/instagram.svg" width="310" height="310">
            <img src="../img/twitter.svg" width="310" height="310">
        </div>
    </div>
</body>