<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/reservation.css">

    <title>registration</title>
</head>
<body>
    <div class="container">
        <section class="reservation-container">
            <div id="reservation-1">
                <div class = "lista-informacji">
                    <h1>Netflix</h1>
                    <p>Login <br> pites </p>
                    <p>Password</p>
                    <p>Start time</p>
                    <p>End time</p>
                    <a href="https://www.Netflix.com/">Website</a>

                </div>
            </div>
            <div id="reservation-2">
                <div class = "lista-informacji">
                    <h1>Netflix</h1>
                    <p>Login <br> pites </p>
                    <p>Password<br>a </p>
                    <p>Start time<br> a</p>
                    <p>End time<br> a</p>
                    <a href="https://www.Netflix.com/">Website</a>
                </div>
            </div>
            <div id="reservation-3">
                <div class = "lista-informacji">
                    <h1>Netflix</h1>
                    <p>Login <br> pites </p>
                    <p>Password</p>
                    <p>Start time</p>
                    <p>End time</p>
                    <a href="https://www.Netflix.com/">Website</a>
                </div>
            </div>
            <div id="reservation-4">
                    <div class = "lista-informacji">
                        <h1>Netflix</h1>
                        <p>Login <br> pites </p>
                        <p>Password</p>
                        <p>Start time</p>
                        <p>End time</p>
                        <a href="https://www.Netflix.com/">Website</a>
                    </div>
            </div>
            <div id="reservation-5">
                <div class = "lista-informacji">
                    <h1>Netflix</h1>
                    <p>Login <br> pites </p>
                    <p>Password<br>a </p>
                    <p>Start time<br> a</p>
                    <p>End time<br> a</p>
                    <a href="https://www.Netflix.com/">Website</a>
                </div>
            </div>
            <div id="reservation-6">
                <div class = "lista-informacji">
                    <h1>Netflix</h1>
                    <p>Login <br> pites </p>
                    <p>Password<br>a </p>
                    <p>Start time<br> a</p>
                    <p>End time<br> a</p>
                    <a href="https://www.Netflix.com/">Website</a>
                </div>
        </section>
        
        <div class="bottom-line">
            <div class="writing">
                <p style="margin: unset">© One Ring</p>
            </div>

            <div class="pictures">
                <img src="../img/facebook.svg" width="25vw" height="25vw">
                <img src="../img/instagram.svg" width="25vw" height="25vw">
                <img src="../img/twitter.svg" width="25vw" height="25vw">
            </div>

    </div>
</body>