.registration-container{
    grid-row: 3/30;
    grid-column: 7/34;
    align-self: center;
    margin: 2vw;
}
.platform-form-container{
    grid-row: 15/16;
    grid-column: 1/23;
    align-self: center;
}
label{
    color: #FFFFFF;
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 20px;
    margin-top: 0.8vw;

    font-family: BroshK, serif;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 2vw;

    opacity: 1;
    width: 30vw;
    height: 2vw;
}
form2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000039;
    mix-blend-mode: darken;

}
input[type="time"]::-webkit-calendar-picker-indicator{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    background-color:blue;
  }
  input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
    background-color:blue;
  }
