body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-rows: repeat(40, 2.5%);
    grid-template-columns: repeat(40, 2.5%);
    width: 100vw;
    height: 100vh;
    font-family: BroshK;
    background: transparent linear-gradient(180deg, #E40000 0%, #170103 99%, #580C10 100%, #3D171A 100%, #000000 100%) 0% 0% no-repeat padding-box;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    opacity: 1;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-end;
}

.logo{
    align-self: center;
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    grid-column: 16/30;
    grid-row: 6/5;
}

.login-container{
    grid-row: 23/24;
    grid-column: 11/29;
    align-self: center;
    margin: 2vw;
}

img {
    display: block;
    object-fit: scale-down;
    max-width: 100%;
    flex: 1;
    min-height: 0;
    margin: 0.2vw;
  }
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000039;
    mix-blend-mode: darken;

}

button{
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 10px;
    opacity: 1;

    text-align: center;
    font-family: BroshK, serif;
    font-size: 1.5vw;
    letter-spacing: 3px;
    color: #FFFFFF;
    margin: 1vw;
    height: 2vw;
    width: 10vw;
}
.writing{
    font-family: BroshK,serif;
    text-align: left;
    display: flex;
    align-items: center;
}
input{    
    color: #FFFFFF;
    background: #000000 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 20px;
    margin-top: 0.8vw;

    font-family: BroshK,serif;
    text-align: center;
    letter-spacing: 1.8px;
    font-size: 2vw;

    opacity: 1;
    width: 30vw;
    height: 2vw;
}
.messages
{
    color: #fff;
}
.bottom-line{
    grid-row: 40/41;
    grid-column: 1/41;
    background-color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.pictures
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}